*{
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
  }

  .header{
    height:2.5cm;
    border-bottom-style: solid;
    border-width: 1px;
  }

  .sideHeader{
    height:2.5cm;
  }

  .column {
    float: left;
    padding: 10px;
    height: 20cm; 
  }

  .column.side {
    width: 20%;
    background-color: whitesmoke;
  }



  .column.middle {
    width: 60%;
  }

  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  .side a{
    color: black;
    padding: 15px;
    display: block;
    font-size: medium;
  }

  @media (max-width: 600px) {
    .column.side, .column.middle {
      width: 100%;
    }
  }
    
 
  