* {
    box-sizing: border-box;
}

.Background-image {
    /* The image used */
    background-image: url(./covid19.jpg);

    /* Full height */
    height: 18.38cm;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

