
* {
    box-sizing: border-box;
}

.sidenav {
    height: 100%;
    width: 25%;
    position: fixed;
    top: 17%;
    left: 0;
    background-color: gray;
    overflow-x: hidden;
    padding-top: 20px;
  }

.sidenav a {
    color: white;
    padding: 30px;
    display: block;
    font-size: medium;
}

.sidenav a:hover {
    background-color: #ddd;
    color: black;
}

.content {
    background-color: #dddddd;
    width: 75%;
    height: auto;
    margin-top: 9%;
    margin-left: 25.2%;
    overflow: hidden;
}

.loginPage{
    height: 100%;
    width: 25%;
    margin-top: 15%;
    margin-left:35%;
    padding: 2cm;
}



  
 
  
  
  
 
