
* {
    box-sizing: border-box;
}

.Header {
    height: 10%;
    width: 100%;
    position: fixed;
    top: 0%;
    background-color: lightblue;
    margin-top: 0px;
    text-align: center;
    color: white;
    padding: 20px;
    font-size: 40px;
}
