ul {
    height: 7%;
    width: 100%;
    position: fixed;
    top: 10%;
    background-color: #333;
    margin: 0px;
    list-style-type: none;
    padding: 0;
    overflow: hidden;

}

li {
    float: left;
    width: 25%;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 10px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color: #4CAF50;
}
